html {
  font-family: 'Titillium Web', sans-serif;
}

.pseudo-nav {
  margin: 2em 0em 5em 0em;
  color: black;
}

.nav-options {
  letter-spacing: 0.1rem;
  font-size: 13px;
  font-weight: 800;
  color: #303030;
}

.side-card {
  margin-right: 30px;
  padding: 30px 30px 30px 30px;
  border-radius: 4px;
}

.main-content-card {
  padding: 30px 30px 30px 30px;
}


.icon-panel img {
  float: left;
  height: 24px;
  width: 24px;
  margin: 0px 10px 0px 0px;
}

.icon-panel a {
  color: black;
}
